body {
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: darken($baseColor, 25%);
  }

  color: $textColor;
  .colortab {
    background-color: $baseColor;
    ul {
      li {
        border: 1px solid invert($baseColor);
      }
    }
  }

  .container {
    #header, #footer {
      color:      $headingColor;
      background: $baseColor;
      a {
        color: $headingColor;
      }
    }

    #header {
      nav {
        ul {
          li {
            a {
              &:hover,
              &.active {
                border-bottom: 2px solid $headingColor;
              }
            }
          }
        }
      }
    }

    #content {
      background-color: transparentize($backgroundColor, .15);
      box-shadow:       0 0 0 2*$cardRadius $baseColor;
      &.entry {
        background-color: $backgroundColor !important;
      }
      hr.heading-line {
        border: .2em solid $baseColor;
      }

      a {
        color: $baseColor;
      }

      .btn {
        $btn-background: $baseColor;
        border:           1px solid $grey;
        border-radius:    $buttonRadius;
        box-shadow:       $buttonHover;
        &-red {
          $btn-background: $baseColor;
          color: $headingColor;
        }
        &:hover {
          background-color: darken($btn-background, 5%);
        }
        &:active {
          box-shadow: inset 2px 2px 5px darken($btn-background, 20%);
        }
        background-color: $btn-background;
      }

      article, div.article {
        background-color: $backgroundColor;
        border:           $cardRadius solid $baseColor;
        border-radius:    $cardRadius;
        box-shadow:       $cardHover;
        h2 {
          background: $baseColor;
          color:      $backgroundColor;
        }
      }

      .pagination {
        a,
        span {
          border: 1px solid $baseColor;
          color:  $baseColor;
          &:not(.current) {
            color:            $white;
            background-color: $baseColor;
          }
        }
      }

      .plumbing {
        box-shadow: 0 0 0 $cardRadius $baseColor;
      }
    }

  }
}
