@charset "utf-8";
/* Reset
------------------------------------------------  */
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, address, pre, cite, code, dfn, abbr, acronym, a, samp, img, ins, i, b, u, strike, small, big, font, tt, q, dl, dt, dd, ul, ol, li, applet, object, iframe, form, fieldset, label, legend, th, td, th, tbody, tfoot, thead, tr, caption {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, img {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav ul {
  list-style: none;
}

/* Variables
------------------------------------------------  */

$pink: rgb(246, 96, 118);
$blue: rgb(107, 196, 234);
$purple: rgb(140, 133, 203);
$mushroom: rgb(194, 181, 155);
$dark: #6f6e6e;

$primary-color-1: $pink;
$primary-color-2: $purple;
$primary-color-3: $blue;
$text-color: $dark;

/* Utility
------------------------------------------------  */

/* Align text center */

.textCenter {
  text-align: center;
}

/* Align text left */

.textLeft {
  text-align: left;
}

/* Align text ight */

.textRight {
  text-align: right;
}

/* Make element display as block */

.displayBlock {
  display: block;
}

/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1
}

/* General
------------------------------------------------  */

html, body {
  height: 100%;
}

body {
  font-family: 'merriweather', serif;
  line-height: 1.9;
  color: #292929;
  background: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased
}

p, ul, ol, table {
  margin-bottom: 1.5rem;
  font-weight: 200;
}

a {
  color: #292929;
  text-decoration: none;
  &[target=_blank]:after {
    vertical-align: super;
    content: ' ➚';
    color: #40E0D0;
  }
}

h1, h2, h3, h4 {
  font-family: 'Krona One', sans-serif;
  line-height: 1.4;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

kbd {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background: #000;
  color: #fff;
  white-space: nowrap;
  padding: 0 3px;
  border-radius: 3px;
}

/* Site Container
------------------------------------------------  */

.siteContainer {
  position: relative;
  margin: 0 2rem;
}

/* Header
------------------------------------------------  */

.siteLogo {
  font-size: 2rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
}

.siteLogo a {
  color: #000;
}

/* Content
------------------------------------------------  */

.content {
  margin-bottom: 3rem;
}

.content ol,
.content ul {
  margin-left: 2.5rem;
}

/* Home
------------------------------------------------  */

ul.superlist {
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 0rem;
  font-family: 'Krona One', sans-serif;
  line-height: 1.3;
  list-style: none;
}

ul.superlist li {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
}

ul.superlist a span {
  position: absolute;
  left: 0.125rem;
  top: -0.75rem;
  font-size: 11px;
  color: #000;
  width: 150px;
}

ul.superlist a:hover,
ul.superlist a:focus {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.whatTheFuckIsBillysTips p {
  color: #000;
}

.bgimg {
  filter: grayscale(100%) !important;
}

/* Tip page
------------------------------------------------  */

.tip a {
  padding-bottom: 3px;
  border-bottom: 1px solid #40E0D0;
}

.tip {
  width: 100%;

  max-width: 800px;
  margin-right: 2rem;
  float: left;
}

.tip img {
  max-width: 80%;
}

.tip__date {
  margin-top: -1rem;
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.line-highlight {
  background: linear-gradient(to right, #333, transparent);
}

p > code,
li > code {
  background-color: #f4f4f6;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 4px 3px 4px;
}

.latest-tips {
  float: left;
  min-width: 200px;
  width: 20%;
}

.plumbing {
  background: #40E0D0;
  padding: 2rem;
  margin-bottom: 2rem;
  a {
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    &[target=_blank]:after {
      color: #000;
    }
  }
}

/* Media queries
------------------------------------------------  */

@media screen and (min-width: 800px) {

  .siteLogo {
    padding-top: 3rem;
  }

  .siteContainer {
    margin: 0 3rem;
  }

  ul.superlist {
    font-size: 3rem;
  }

  .whatTheFuckIsBillysTips p {
    width: 50%;
  }

  h1 {
    font-size: 3rem;
  }

}

@media screen and (min-width: 1000px) {

  ul.superlist li {
    display: inline;
  }

  ul.superlist {
    line-height: 1.7;
  }

}

@media only screen and (max-width: 1195px) {
  .latest-tips {
    border-top: 2px solid #40E0D0;
    padding-top: 2rem;
    width: 100%;
    max-width: 800px
  }
}

@media only screen and (min-width: 1196px) {
  .latest-tips {
    border-left: 2px solid #40E0D0;
    padding-left: 2rem;
  }
}
