{% if tip is not defined and entry is defined %}
  {% set tip = entry %}
{% endif %}
{% if tip is defined %}
  <p class="date">{{ tip.postDate.format('F d, Y') }}</p>
  {{ tip.link }}
  {{ tip.intro|raw }}
{% endif %}